*************************************************************************
*                                                                       *
*                                                                       *
*                                                                       *
*   Input file for the Lagrangian particle dispersion model FLEXPART    *
*                        Please select your options                     *
*                                                                       *
*                                                                       *
*                                                                       *
*************************************************************************
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  1      
___                        i3    Total number of species emitted

 24
___                        i3    Index of species in file SPECIES

=========================================================================
{% for location in locations %}{% for time_chunk in time_chunks %}{{ time_chunk.begin[0] }} {{ time_chunk.begin[1] }}
________ ______     Beginning date and time of release

{{ time_chunk.end[0] }} {{ time_chunk.end[1] }}
________ ______     End date and time of release

{{ location_data[location]["longitude_of_lower_left_corner"] }}
____.____           Longitude of lower left corner

{{ location_data[location]["latitude_of_lower_left_corner"] }}
____.____           Latitude of lower left corner

{{ location_data[location]["longitude_of_upper_right_corner"] }}
____.____           Longitude of upper right corner

{{ location_data[location]["latitude_of_upper_right_corner"] }}
____.____           Latitude of upper right corner

        {{ location_data[location]["level_type"] }}
________            1 for m above ground, 2 for m above sea level

{{ location_data[location]["lower_z_level"] }}
________            Lower z-level

{{ location_data[location]["upper_z_level"] }}
________            Upper z-level

    50000                
________            Total number of particles

1.0000E00
________            Total mass emitted

{{ location }}
_______________________________________ character*40 comment
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
{% endfor %}{% endfor %}
